#main label{
    color:black;
    display: block;
    font-size: 20px; 
    padding-left: 2.5em;   
 } 
 #main input[type=text], select {
  width: 40%;
  padding: 0px;
  margin: .15em;
  margin-left: 1.7em;  
  border: 1px;
  border-radius: 6px;
  /* box-sizing: border-box; */
  margin-bottom: .5em;
  height: 30px;
}
#main input[type=date], select{
  width: 30%;
  padding: 8px;
  margin: 3px 0;
  margin-left: 40px;
  margin-bottom: 20px;
}
#main label .name{
  margin-top: 50px;
}
#main {
  width: 940px;
  margin: auto;
}
#main #left{
  width: 600px;
  float: left;
}
#left label{
  color:black;
  display: block;
  font-size: 20px; 
  padding-left: 10px;   
} 
#main #right{
  width: 600px;
  float: right;
}
#right label{
  color:black;
  display: block;
  font-size: 20px; 
  padding-left: 10px;   
} 
#right input[type=text] {
  width: 20%;
  padding: 0px;
  margin: 1px;
  border: 1px;
  border-radius: 6px; 
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 30px;
}
#right textarea{
  width: 20%;
  padding: 0px;
  margin: 1px;
  float: right; 
  margin-right: 255px;; 
  border: 1px;
  border-radius: 6px; 
  box-sizing: border-box;
  margin-top: 0px;
  font-size: 12px;
} 
#right button[type=submit]{
 margin-top: 3em;
 margin-left: 30em;
 font-weight: bold;
 }
 #right button[type=submit]:hover{
  background-color :blue;
  }
 




/* @media (max-width: 900px) {
  label {
    left: 0;
  }    } */