.navbar{   
    display: flex;  
    height: 60px;  
    align-items: center; 
    margin-bottom: 30px;          
}
.navwords{
   margin-left: auto;
   margin-right: auto;
   color: white;
}
.navwords:hover{
    background-color: rgb(139, 203, 230);
    padding: 1rem;
}
.container{
    background: #2b2eec; 
} 